@model IEnumerable<TheWorld.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>The World</h3>
        <p>This will be a fun website soon!</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">
            View My Trips
        </a>
    </div>
</div>