@{
    ViewBag.Title = "Home Page";
}

<h3>The World</h3>
<p>This will be a fun website soon!</p>

<form>
    <div>
        <label>Date</label>
        <input type="text" />
    </div>
    <div>
        <label>Location</label>
        <input type="text" />
    </div>
    <div>
        <input type="button" value="Add" />
    </div>
</form>